

body {
  font-family: 'Montserrat';
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  font-family: 'Montserrat';
	text-align: center;
	width: 100%;
	height: auto;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 85% 85% / 30%;
}
header .overlay{
	width: 100%;
	height: 100%;
	padding: 50px;
	color: #FFF;

  background-image: linear-gradient( 135deg, #9f05ff69 10%, #fd5e086b 100%);

}

header h1 {
	font-size: 80px;
	margin-bottom: 30px;
}

header h3, header p {
	margin-bottom: 30px;
}

button {
	border: none;
	outline: none;
	padding: 10px 20px;
	border-radius: 50px;
	color: #333;
	background: #fff;
	margin-bottom: 50px;
	box-shadow: 0 3px 20px 0 #0000003b;
}
button:hover{
	cursor: pointer;
}

.wrapper {
  text-align: center;
  margin: 0 auto;
}

main {
  display: flex;
  justify-content: flex-start;
}


label {
  color: grey;
}

.hrMain {
    margin: 0 auto;
    width: 90%;
    overflow: visible;
    height: 30px;
    border-style: solid;
    border-color: #9f05ff69;
    border-width: 1.5px 0 0 0;
    border-radius: 20px;
    margin-bottom: 40px;
}
.hrMain:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: #9f05ff69;
    border-width: 0 0 1.5px 0;
    border-radius: 20px;
}


.movies {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container {
  margin-top: 50px;
  color: grey;
  width: 100%;
  margin-bottom: 100px;
}

.container h1 {
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  padding-bottom: 50px;
}

.movieWrapper {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  text-align: center;
}


.movieItem  {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  height: 250px;
}

.movieItem:first-child {
  border-width: 2px;
  border-style: solid;
  border-image:
    linear-gradient(
      to top,
      rgba(0, 0, 0, 0),
      #9f05ff69,
      rgba(0, 0, 0, 0)
    ) 1 100%;
}

.movieItem:last-child {
  border-width: 2px;
  border-style: solid;
  border-image:
    linear-gradient(
      to top,
      rgba(0, 0, 0, 0),
      #9f05ff69,
      rgba(0, 0, 0, 0)
    ) 1 100%;
}


.movieItem h1 {
  padding-bottom: -100px;
}

.movieItem p {
  padding-left: 10px;
  padding-right: 10px;
  width: 300px;
  max-width: 300px;
  word-wrap: break-word;
}

.buttons {

  margin-top: 90px;
  margin-bottom: 90px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.buttons button {
  background-color: #9f05ff69;
  margin-left: 40px;
  margin-right: 40px;
}

.buttons * {
  color: white;
}

#search {
  margin-top: 30px;
  margin-left: 80px;
}


#searchbox {
  color: grey;
  border-style: none;
  border: 1px solid grey;
  border-radius: 10px;
}
.add {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.edit {
  color: grey;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.edit input {
  padding: 3px;
  color: grey;
  border-style: none;
  border: 1px solid grey;
  border-radius: 10px;
  margin: 20px;
}
.details {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.details * {
  max-width: 400px;
  word-wrap: break-word;
  margin-bottom: 50px;
}

.details button {
  width: 100px;
}

.add input {
  margin: 20px;
  padding: 3px;
  color: grey;
  border-style: none;
  border: 1px solid grey;
  border-radius: 10px;
}
